doctype html
html
	head
		title= signin
	body
		div(style='float:left;margin:10px;')
			a(href='/') Home
			
		div(style='float:right')
			if (username && authenticated)
				span #{username}
				a(href='/profile', style='margin:10px;') Profile
				a(href='/add_article', style='margin:10px;') Add Article
				a(href='/signout', style='margin:10px;') Sign Out
			else
				a(href='/signin', style='margin:10px;') Log In
				a(href='/register', style='margin:10px;') Register
	
	div(style='padding:50px;')
		h1= title

	for article in blogs
		div
			div(style='float:left;margin-top:10px;')= article.Username
			div(style='float:right;margin-top:10px;')= article.CreateDate
			br
			div(style='clear:both')= article.Article
			div
				a(href='/apis/delete/'+article.id, style='float:right;margin-top:5px;margin-right:15px;') Delete
				a(href='/modify/'+article.id, style='float:right;margin-top:5px;margin-right:20px;') Modify
			hr(style='margin-top:30px;')
